body {
    background-color: #171717;
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.header {
    margin-top: 37px;
    background-color: #171717;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 357px;
    height: 79px;
}

.button {
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
}

.icon-phone {
    width: 16px;
    height: 16px;
    color: rgba(228, 181, 100, 1);
    margin-top: 17px;
    margin-right: 8px;
}

.button-link {
    color: #E4B564;
    font-family: Ballet;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.main {
    margin-top: 89px;
    margin-bottom: 191px;
    background-color: #171717;
}

.external-heat-networks-subtitle {
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 599px;
}

.external-heat-networks-text {
    margin-top: 43px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 1182px;
}

.external-heat-networks-grid {
    margin-top: 41px;
    display: grid;
    grid-template-columns: 217px 217px 217px 217px 217px 217px;
    grid-template-rows: repeat(2, 468px);
    gap: 31px;
}

.external-heat-networks-grid-item1 {
    background-color: #634F2C;
    grid-column: 1/3;
    grid-row: 1/2;
}

.external-heat-networks-grid-item2 {
    background-color: #B4A385;
    grid-column: 3/5;
    grid-row: 1/2;
}

.external-heat-networks-grid-item3 {
    background-color: #E4B564;
    grid-column: 5/7;
    grid-row: 1/2;
}

.external-heat-networks-grid-item4 {
    background-color: #635A4A;
    grid-column: 1/4;
    grid-row: 2/3;
}

.external-heat-networks-grid-item5 {
    background-color: #B08C4D;
    grid-column: 4/7;
    grid-row: 2/3;
}

.external-heat-networks-grid-items-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 100%;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}


.own-fleet-of-construction-equipment {
    margin-top: 170px;
}

.own-fleet-of-construction-equipment-subtitle {
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 94px;
}

.own-fleet-of-construction-equipment-grid {
    display: grid;
    grid-template-columns: 467px 467px 467px;
    grid-template-rows: 255px 28px 96px 100px 275px;
    gap: 30px;
}

.own-fleet-of-construction-equipment-item1 {

    background-color: rgba(14, 14, 14, 1);
    grid-column: 1/1;
    grid-row: 1/3;
}

.kamaz {
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.own-fleet-of-construction-equipment-item2 {
    background-color: rgba(36, 36, 36, 1);
    grid-row: 1/4;
    grid-column: 2/3;
}

.own-fleet-of-construction-equipment-item3 {
    background: #1F1F1F;
    grid-column: 3/4;
    grid-row: 1/2;
}

.own-fleet-of-construction-equipment-item4 {
    grid-row: 3/6;
    grid-column: 1/1;
    background-color: rgba(31, 31, 31, 1);
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.own-fleet-of-construction-equipment-item5 {
    grid-row: 4/6;
    grid-column: 2/3;
    background-color: rgba(228, 181, 100, 1);
    margin-bottom: 15px;
}

.own-fleet-of-construction-equipment-item6 {
    grid-column: 3/4;
    grid-row: 2/5;
    background-color: rgba(14, 14, 14, 1);
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.own-fleet-of-construction-equipment-item7 {
    grid-row: 5/6;
    grid-column: 3/4;
    background-color: rgba(14, 14, 14, 1);
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.own-fleet-of-construction-equipment-items-text {
    width: 312px;
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 50px;
    padding-left: 45px;
}

.own-fleet-of-construction-equipment-item5 :first-child {
    color: rgba(0, 0, 0, 1)
}

.footer {
    padding-top: 172px;
    margin-bottom: 238px;
    background-color: rgba(14, 14, 14, 1);
}

.footer-clients-flex {
    display: flex;
}

.footer-clients-project-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.footer-subtitle {
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
}

.footer-grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgba(99, 79, 44, 1);
}

.footer-grid-item2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: rgba(232, 210, 171, 0.76);
    color: #FFF;
    text-align: center;
    font-family: Gilam;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.footer-grid-item2 :nth-child(1) {
    width: 62px;
    height: 55px;
    margin-bottom: 10px;
}

.footer-grid-item2 :nth-child(2) {
    width: 119px;
    height: 53px;
    margin-bottom: 10px;
}

.footer-grid-item3 {
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: rgba(228, 181, 100, 1);
}

.footer-grid-item4 {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgba(99, 90, 74, 1);
}

.footer-grid-item5 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgba(176, 140, 77, 1);
}

.footer-grid-item6 {
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: rgba(99, 79, 44, 1);
}

.footer-items-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items2-flex {
    flex-direction: column;
}